name: Build Windows (amd64) Executable

on:
  workflow_dispatch:
    inputs:
      skip-tests:
        type: boolean
        description: Skip Test Suite

jobs:
  build:

    runs-on: windows-2019

    steps:
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1
    - uses: ilammy/msvc-dev-cmd@v1
      with:
        msbuild-architecture: x64
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn clean package -DskipTests=${{ inputs.skip-tests }}
    - name: Output artifact
      uses: actions/upload-artifact@v4
      with:
        name: Windows Native Binary
        path: native-image/target/hedgehog.exe
    - name: Run Binary
      run: native-image/target/hedgehog.exe
